*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font: 15px Verdana, sans-serif;
  color: map-get($colors, 'gray-text' )
}

.g-hidden {
  display: none;
}

.g-input {
  outline: none;
  padding: 8px 6px;
  width: 100%;
  border: none;
  border-bottom: 1px solid #bbb;
  font: 14px Verdana, sans-serif;

  &:focus {
    border-bottom: 1px solid #666;
  }
}

.g-label,
.g-button {
  transition: .2s opacity, .2s background-color;
  cursor: pointer;
  display: inline-block;
  border-radius: 4px;
  margin: 3px 5px;
  padding: 4px 6px;
  font: 12px Verdana, sans-serif;
  background-color: #bbb;

   &.active {
    background-color: #ddd;
  }

  &:hover {
    opacity: .7;
  }
}

.g-button {
  background-color: #ddd;
  border: none;
}

.g-setting-title {
  color: #bbb;
  margin-bottom: 7px;

  &.small {
    font-size: 11px;
    text-align: center;
  }

  &.main {
    font-size: 13px;
    position: absolute;
    top: -22px;
    left: 3px;
  }
}
