*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  margin-right: calc(-1 * (100vw - 100%));
  overflow-x: hidden;
}

body {
  height: 100vh;
  font: 500 15px Montserrat, Verdana, sans-serif;
  color: map-get($colors, 'gray-text');
}

input, 
button {
  &:focus,
  &:active {
    outline: none;
  }
}

a {
  display: inline-block;
  padding-bottom: 0;
  color: inherit;
  transition: opacity .2s;

  &:visited {
    color: inherit;
  }

  &:hover {
    opacity: .8;
  }

  &:active {
    opacity: .5;
  }
}
