body {
  margin: 0;
}

h1 {
  margin: 0;
  font-size: inherit;
  font-weight: inherit;
}

input,
textarea,
button {
  border: none;
  border-radius: 0;
  outline: none;
  background-color: transparent;
  box-shadow: none;
  font: inherit;
  font-weight: inherit;
  letter-spacing: inherit;
  resize: none;
}

input[type='number']::-webkit-inner-spin-button, 
input[type='number']::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

input[type='number'] {
  -moz-appearance: textfield;
}
