.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.2s;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}

.modal-enter-active,
.modal-leave-active {
  transition:
    opacity 0.2s,
    transform 0.2s;
}

.modal-enter {
  opacity: 0;
  transform: translateY(-40px);
}

.modal-leave-to {
  opacity: 0;
  transform: translateY(40px);
}

.notification-enter-active {
  transition: opacity 0.2s;
}

.notification-leave-to {
  opacity: 0;
}
